# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    groups:
      dependencies:
        patterns:
          - "*"
    ignore:
      - dependency-name: "tailwindcss"
        versions: ["4.x"]
      - dependency-name: "prisma"
        versions: ["7.x"]
      - dependency-name: "@prisma/client"
        versions: ["7.x"]
      - dependency-name: "eslint"
        versions: ["10.x"]
